* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: var(--background);
}

:root {
  /* COLORS */
  --accent: #fc836d;
  --background: #010920;
  --accent-hover: #d95133;
  --todo-body: #252e42;
  --checkbox-back: #4f5565;
}


